<div class="footer">
  <div class="social-links">
    <div class="ssk-group ssk-sm">
      <a href="{{ site.twitter }}" class="ssk ssk-twitter ssk-custom-color ssk-icon a-no-color"></a>
      <a href="{{ site.github }}" class="ssk ssk-github ssk-custom-color ssk-icon a-no-color"></a>
      <a href="{{ site.linkedin }}" class="ssk ssk-linkedin ssk-custom-color ssk-icon a-no-color"></a>
      <a href="{{ site.instagram }}" class="ssk ssk-instagram ssk-custom-color ssk-icon a-no-color"></a>
      <a href="{{ site.discord }}" class="ssk ssk-discord ssk-custom-color ssk-icon a-no-color"></a>

    </div>
  </div>

  <div class="footer-credits">
    <span>&copy;</span>
    <span><script type="text/javascript">document.write(new Date().getFullYear());</script></span>
    <a href="/">{{ site.title }}</a>
    <br />
  </div>
</div>

<!-- put script here to pick up all elements -->
<script src="/assets/js/script.js"></script>
