---
layout: default
---
<div class="page-container">
  <!-- post header -->
  <div class="post-header">
    <h1>{{ page.title }}</h1>
    <span>{{ page.date | date: "%Y-%m-%d" }}</span>
  </div>
  <div class="post-content">
    {{ content }}
  </div>

  <!-- post navigator -->
  {% if page.previous or page.next %}
    <div class="post-nav">
      {% if page.previous %}
      <a class="post-nav-previous"href="{{ page.previous.url }}">{{ page.previous.title }}</a>
      {% endif %}

      {% if page.previous and page.next %}
      <div class="post-nav-sep"></div>
      {% endif %}

      {% if page.next %}
      <a class="post-nav-next" href="{{ page.next.url }}">{{ page.next.title }}</a>
      {% endif %}
    </div>
  {% endif %}

    <!-- post archive -->
  <div class="post-archive">
    <h2>Archive</h2>

    {% for post in site.posts %}
    {% if page.url == post.url %}
    {% assign status = 'checked' %}
    {% else %}
    {% assign status = '' %}
    {% endif %}
    <a class="post-archive-item" href="{{ post.url }}">
      <span class="post-archive-date">{{ post.date | date: "%Y-%m-%d" }}</span>
      <span class="post-archive-title {{ status }}">{{ post.title }}</span>
    </a>
    {% endfor %}
  </div>
</div>
